<ion-view view-title="Consulta de Deuda">
  <ion-content>
    <div class="bottom-card">
      <div class="circle-image"></div>
    </div>
    <br/>

    <div class="list">
      <label class="item item-input">
        <input type="number" placeholder="Identificador">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Criterio
        </div>
        <select>
          <option>NUMERO INMUEBLE</option>
          <option selected>CODIGO CATASTRAL</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Gobierno Municipal
        </div>
        <select>
          <option>ACHOCALLA</option>
          <option selected>COBIJA</option>
          <option>COCHABAMBA</option>
          <option>EL ALTO</option>
          <option>LA GUARDIA</option>
          <option>LA PAZ</option>
        </select>
      </label>
      <label class="item item-input">
        <input type="number" placeholder="Documento de identificación">
      </label>

    </div>

  </ion-content>
  <md-button class="md-fab md-mini float-button button-ruat" aria-label="Use Android">
    <md-icon class="button button-icon icon ion-paper-airplane" style="color: white;"></md-icon>
  </md-button>
</ion-view>
