<ion-side-menus enable-menu-with-back-views="true">
  <!--bar bar-header bar-positive-->
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">RUAT</h1>
    </ion-header-bar>

    <ion-content class="side-menu-left has-header">
      <div class="" data-componentid="image1">
        <img src="img/logoBaner.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-divider">
        Inmuebles
      </div>
      <ion-list>
        <a class="item item-icon-left" menu-close href="#/app/browse" >
          <i class="icon ion-android-home"></i>
          Consulta Deuda
        </a>
        <a class="item item-icon-left" menu-close href="#/app/spinner" >
          <i class="icon ion-search ion-android-home "></i>
          Consulta Datos Técnicos
        </a>
      </ion-list>
      <div class="item item-divider">
        Vehículos
      </div>
      <ion-list>
        <a class="item item-icon-left" menu-close href="#/app/browse" >
          <i class="icon ion-android-car"></i>
          Consulta Deuda
        </a>
        <a class="item item-icon-left" menu-close href="#/app/browse" >
          <i class="icon ion-android-search"></i>
          Consulta Datos Técnicos
        </a>
        <a class="item item-icon-left" menu-close href="#/app/browse" >
          <i class="icon ion-alert-circled"></i>
          Infracciones e ITV
        </a>
      </ion-list>
      <div class="item item-divider">
        Actividades Económicas
      </div>
      <ion-list>
        <a class="item item-icon-left" menu-close href="#/app/browse" >
          <i class="icon ion-android-cart"></i>
          Consulta Deuda
        </a>
        <a class="item item-icon-left" menu-close href="#/app/browse" >
          <i class="icon ion-ios-search"></i>
          Consulta Datos Técnicos
        </a>
      </ion-list>
      <div class="item item-divider">
        Tasas
      </div>
      <ion-list>
        <a class="item item-icon-left" menu-close href="#/app/browse" >
          <i class="icon ion-cash"></i>
          Consulta Deuda
        </a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
