<ion-view view-title="Inicio" cache-view="false">
  <ion-header-bar class="bar-positive">
    <h1 class="title">RUAT</h1>
  </ion-header-bar>
  <ion-content>
    <div class="bottom-card">
      <div class="circle-image"></div>
    </div>

    <ion-list id="cameraTabDefaultPage-list3" class=" ">
      <ion-item class="item-thumbnail-left  " ui-sref="app.search">
        <img src="img/qZJOfTEKRrdQL0bl6pwV_ser.jpg">
        <h2>Item</h2>
        <p>Ejemplo de una respuesta Rapida</p>
      </ion-item>
      <ion-item class="item-thumbnail-left  " ui-sref="app.search">
        <img src="img/qZJOfTEKRrdQL0bl6pwV_ser.jpg">
        <h2>Item</h2>
        <p>Ejemplo de una respuesta Rapida</p>
      </ion-item><ion-item class="item-thumbnail-left  " ui-sref="app.search">
      <img src="img/qZJOfTEKRrdQL0bl6pwV_ser.jpg">
      <h2>Item</h2>
      <p>Ejemplo de una respuesta Rapida</p>
    </ion-item><ion-item class="item-thumbnail-left  " ui-sref="app.search">
      <img src="img/qZJOfTEKRrdQL0bl6pwV_ser.jpg">
      <h2>Item</h2>
      <p>Ejemplo de una respuesta Rapida</p>
    </ion-item><ion-item class="item-thumbnail-left  " ui-sref="app.search">
      <img src="img/qZJOfTEKRrdQL0bl6pwV_ser.jpg">
      <h2>Item</h2>
      <p>Ejemplo de una respuesta Rapida</p>
    </ion-item><ion-item class="item-thumbnail-left  " ui-sref="app.search">
      <img src="img/qZJOfTEKRrdQL0bl6pwV_ser.jpg">
      <h2>Item</h2>
      <p>Ejemplo de una respuesta Rapida</p>
    </ion-item>
    </ion-list>
    <button class="button button-full button-assertive">
      Full Width Block Button
    </button>
    <button class="button button-full button-balanced">
      Full Width Block Button
    </button>
    <button class="button button-full button-positive">
      Full Width Block Button
    </button>
    <button class="button button-full button-calm">
      Full Width Block Button
    </button>

    <button class="button button-full button-energized">
      Full Width Block Button
    </button>

    <div class="button-bar">
      <a class="button button-assertive" href="#" onclick="window.open('http://www.google.com.bo', '_system', 'location=yes'); return false;">First</a>
      <a class="button button-balanced">Second</a>
      <a class="button button-positive">Third</a>

    </div>


  </ion-content>
  <md-button  class="md-fab md-mini float-button button-ruat"   aria-label="Use Android">
    <md-icon class="button button-icon icon ion-paper-airplane" style="color: white;" ></md-icon>
  </md-button>
</ion-view>
