/* Empty. Add your own CSS if you like */
.float-button{
  position: absolute !important;
  right: 5% ;
  bottom: 5% ;
}
.button-ruat{
  background-color: #005462 !important;
}
.bottom-card{

  display: inline-block;
  width: 100%;
  height: 130px;
  background-image: url("../img/banner-inm-dt.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.circle-image{

  /*cambia estos dos valores para definir el tamaño de tu círculo*/
  position: absolute;
  top:65px;
  right: 7%;

  height: 80px;
  width: 80px;
  /*los siguientes valores son independientes del tamaño del círculo*/
  background-image: url("../img/ico_datos_inm-or.png");
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  padding: 0;
  z-index: 99;

}
.spinner svg {
  width: 100% !important;
  height: 85px !important;
  background-position: center !important;
  margin-top: 50%;
}
.loading{
  width: 0px !important;
  height: 0px !important;
  border-color: rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  margin-top: -200%;
}
.background_about {
  border-color: rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center !important;
  background-attachment: fixed;
}
